system/logs
system/data
.env

# Ignore WordPress
app/public/wp-config.php
app/public/wp-content/cache
## app/public/wp-content/themes/twenty*
app/public/wp-content/uploads/wc-logs
app/public/wp-content/uploads/wp-migrate-db

# Ignore Plugins
app/public/wp-content/ai1wm-backups
app/public/wp-content/plugins/what-the-file
app/public/wp-content/plugins/query-monitor
app/public/wp-content/plugins/wp-migrate-db
app/public/wp-content/plugins/all-in-one-wp-migration
app/public/wp-content/languages/plugins/all-in-one-wp-migration*
app/public/wp-content/mu-plugins/wp-migrate-db-pro-compatibility.php

# Ignore Node
node_modules

# Ignore Backup
app/public/wp-content/backup*
app/public/wp-content/uploads/backwpup-*

# Etc.
app/public/wp-content/uploads/rsssl
